<div id="<%= dom_id subscriber_payment %>">
  <table class="table table-hover">
    <tr>
      <td>
        <strong>Id:</strong>
      </td>
      <td>
        <%= subscriber_payment.id %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>
          <%= SubscriberPayment.human_attribute_name(:month_for_payment) %>
        </strong>
      </td>
      <td>
        <%= subscriber_payment.month_for_payment && l(subscriber_payment.month_for_payment) %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>
          <%= SubscriberPayment.human_attribute_name(:payment_date) %>
        </strong>
      </td>
      <td>
        <%= subscriber_payment.payment_date && l(subscriber_payment.payment_date) %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>
          <%= SubscriberPayment.human_attribute_name(:payment_status_id) %>
        </strong>
      </td>
      <td>
        <%= subscriber_payment.payment_status.name %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>
          <%= SubscriberPayment.human_attribute_name(:subscriber_id) %>
        </strong>
      </td>
      <td>
        <%= subscriber_payment.subscriber.name %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>
          <%= SubscriberPayment.human_attribute_name(:created_at) %>
        </strong>
      </td>
      <td>
        <%= subscriber_payment.created_at && l(subscriber_payment.created_at) %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>
          <%= SubscriberPayment.human_attribute_name(:updated_at) %>
        </strong>
      </td>
      <td>
        <%= subscriber_payment.updated_at && l(subscriber_payment.updated_at) %>
      </td>
    </tr>
  </table>
</div>
