<h1><%= current_account.name %></h1>

提供プラン

<ul>
<% @publish_plans.each do |plan| %>
  <li><%= plan.name %> : <%= plan.cost %> 円/月</li>
<% end %>
</ul>

購読プラン
<ul>
<% @subscribe_plans.each do |plan| %>
  <li><%= plan.publisher.name %> : <%= plan.name %></li>
<% end %>
</ul>

