<h1><%= current_account.name %></h1>

提供プラン

<ul>
<% @publish_plans.each do |plan| %>
  <li><%= plan.name %> : <%= plan.cost %> 円/月</li>
<% end %>
</ul>

購読プラン
<ul>
<% @subscribe_plans.each do |plan| %>
  <li><%= plan.publisher.name %> : <%= plan.name %></li>
<% end %>
</ul>

<ul>
  <li><%= link_to "アカウントを探す", accounts_path %></li>
  <li><%= link_to "ログアウト", destroy_account_session_path, data: { turbo_method: :delete } %></li>
</ul>
