<h1><%= current_account.name %></h1>

<h2>提供プラン</h2>

<ul>
<% @publish_plans.each do |plan| %>
  <li><%= plan.name %> : <%= plan.cost %> 円/月</li>
<% end %>
</ul>

<h2><%= I18n.l(Time.zone.today) %> 購読プラン</h2>
<ul>
<% @subscribe_subscriptions.each do |subscription| %>
  <li><%= subscription.plan.publisher.name %> : <%= subscription.plan.name %>
    <% if subscription.end_date && subscription.end_date >= Time.zone.today.beginning_of_month %>
      (購読解除済み)
      <%= form_with(
        model: Subscription.new,
        url: subscription_path(subscription.id),
        method: :put,
        local: true,
        :html => {
          :style => "display: inline;"
        },
        data: { turbo_confirm: "#{subscription.plan.name} の購読解除をキャンセルしますか？"} ) do |f| %>
        <%= f.hidden_field :plan_id, value: subscription.plan.id %>
        <%= f.hidden_field :end_date, value: nil %>
        <%= f.submit 'キャンセル' %>
      <% end %>
    <% else %>
      <%= form_with(
        model: Subscription.new,
        url: subscription_path(subscription.id),
        method: :put,
        local: true,
        :html => {
          :style => "display: inline;"
        },
        data: { turbo_confirm: "#{subscription.plan.name} の購読を解除しますか？"} ) do |f| %>
        <%= f.hidden_field :plan_id, value: subscription.plan.id %>
        <%= f.hidden_field :end_date, value: Time.zone.today %>
        <%= f.submit '購読解除' %>
      <% end %>
    <% end %>
  </li>
<% end %>
</ul>

<h2><%= Time.zone.today.month %> 月課金額合計</h2>

<%= @subscribe_subscriptions.map { |s| s.plan.cost }.sum %>
