<% content_for :js do %>
  <%= javascript_import_module_tag "subscriptions/new" %>
<% end %>

<h1><%= t("view.edit.title", model: Subscription.model_name.human) %></h1>
<%= render "form", subscription: @subscription %>

<br>

<div>
  <%= link_to t("view.edit.move_to_show", model: Subscription.model_name.human), @subscription %> |
  <%= link_to t("view.edit.move_to_index", model: Subscription.model_name.human.pluralize), subscriptions_path %>
</div>
