<div id="<%= dom_id plan %>">
  <table class="table table-hover">
    <tr>
      <td>
        <strong>Id:</strong>
      </td>
      <td>
        <%= plan.id %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>
          <%= Plan.human_attribute_name(:publisher_id) %>
        </strong>
      </td>
      <td>
        <%= plan.publisher.account.name %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>
          <%= Plan.human_attribute_name(:name) %>
        </strong>
      </td>
      <td>
        <%= plan.name %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>
          <%= Plan.human_attribute_name(:cost) %>
        </strong>
      </td>
      <td>
        <%= plan.cost %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>
          <%= Plan.human_attribute_name(:created_at) %>
        </strong>
      </td>
      <td>
        <%= plan.created_at && l(plan.created_at) %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>
          <%= Plan.human_attribute_name(:updated_at) %>
        </strong>
      </td>
      <td>
        <%= plan.updated_at && l(plan.updated_at) %>
      </td>
    </tr>
  </table>
</div>
