<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Subscription Management System" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= yield(:js) %>
  </head>

  <body>
    <div class="flex-row-reverse" style="display: flex;">
      <div>
        <% if current_account then %><%= link_to current_account.name, edit_account_registration_path(current_account), class: "user-name" %>
          <p>
          publisher_id: <%= current_account.publisher_id %>, 
          subscriber_id: <%= current_account.subscriber_id %>
          </p>
        <% end %>
      </div>
    </div>
    <% if notice then %><p class="notice"><%= notice %></p><% end %>
    <% if alert then %><p class="alert"><%= alert %></p><% end %>
    <%= yield %>
    <ul>
      <li><%= link_to "マイページ", "/" %></li>
      <li><%= link_to "マイプランページ", home_create_plan_path() %></li>
      <li><%= link_to "アカウントを探す", accounts_path %></li>
      <li><%= link_to "ログアウト", destroy_account_session_path, data: { turbo_method: :delete } %></li>
    </ul>
  </body>
</html>
